<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:installLocation="auto" android:name="isGame" android:value="true" package="com.rockstargames.gtalcs" platformBuildVersionCode="26" platformBuildVersionName="8.0.0">
    <uses-sdk android:minSdkVersion="14" android:targetSdkVersion="22" />
    <uses-configuration/>
    <uses-feature android:glEsVersion="0x00020000"/>
    <uses-feature android:name="android.hardware.touchscreen" android:required="false"/>
    <uses-feature android:name="android.hardware.gamepad" android:required="false"/>
    <uses-feature android:name="android.software.leanback" android:required="false"/>
    <supports-screens/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="com.android.vending.CHECK_LICENSE"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <application android:allowClearUserData="true" android:banner="@drawable/banner" android:debuggable="false" android:icon="@drawable/gta_icon" android:isGame="true" android:label="@string/app_name" android:largeHeap="true" android:name="GlobalApplication" android:theme="@android:style/Theme.NoTitleBar.Fullscreen">
        <service android:name="com.rockstargames.gtalcs.lucidobb.LucidOBBDownloaderService"/>
        <receiver android:name="com.rockstargames.gtalcs.lucidobb.LucidOBBAlarmReceiver"/>
        <activity android:name="com.rockstargames.gtalcs.lucidobb.LucidOBBDownloaderActivity" android:screenOrientation="sensorLandscape" android:theme="@style/Theme.AppCompat.NoActionBar.FullScreen"/>
        <receiver android:exported="true" android:name="com.adjust.sdk.AdjustReferrerReceiver">
            <intent-filter>
                <action android:name="com.android.vending.INSTALL_REFERRER"/>
            </intent-filter>
        </receiver>
        <service android:enabled="true" android:exported="false" android:name="com.google.android.gms.analytics.AnalyticsService"/>
        <activity android:label="@string/app_name" android:name="BootGameActivity" android:screenOrientation="sensorLandscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
                <category android:name="android.intent.category.LEANBACK_LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:configChanges="locale|keyboard|keyboardHidden|orientation|screenSize|layoutDirection|fontScale" android:label="@string/app_name" android:launchMode="singleTask" android:name="GTAActivity" android:screenOrientation="sensorLandscape"/>
        <activity android:name="com.rockstargames.gtalcs.MovieActivity" android:screenOrientation="sensorLandscape" android:theme="@android:style/Theme.NoTitleBar.Fullscreen"/>
        <activity android:configChanges="orientation|screenSize" android:name="com.rockstargames.socialclub.SocialClubActivity" android:screenOrientation="sensorLandscape" android:theme="@android:style/Theme.NoTitleBar.Fullscreen"/>
    </application>
</manifest>
